:root {
    --very-light-grayish-blue: hsl(210, 60%, 98%);
    --light-grayish-blue-1: hsl(211, 68%, 94%);
    --light-grayish-blue-2: hsl(205, 33%, 90%);
    --grayish-blue: hsl(219, 14%, 63%);
    --dark-grayish-blue: hsl(219, 12%, 42%);
    --very-dark-blue: hsl(224, 21%, 14%);
}

/* plus-jakarta-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/plus-jakarta-sans-v3-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/plus-jakarta-sans-v3-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/plus-jakarta-sans-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./assets/fonts/plus-jakarta-sans-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./assets/fonts/plus-jakarta-sans-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./assets/fonts/plus-jakarta-sans-v3-latin-regular.svg#PlusJakartaSans') format('svg'); /* Legacy iOS */
  }
  
  /* plus-jakarta-sans-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/plus-jakarta-sans-v3-latin-500.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/plus-jakarta-sans-v3-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/plus-jakarta-sans-v3-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('./assets/fonts/plus-jakarta-sans-v3-latin-500.woff') format('woff'), /* Modern Browsers */
         url('./assets/fonts/plus-jakarta-sans-v3-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./assets/fonts/plus-jakarta-sans-v3-latin-500.svg#PlusJakartaSans') format('svg'); /* Legacy iOS */
  }
  
  /* plus-jakarta-sans-800 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    src: url('./assets/fonts/plus-jakarta-sans-v3-latin-800.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/plus-jakarta-sans-v3-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/plus-jakarta-sans-v3-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('./assets/fonts/plus-jakarta-sans-v3-latin-800.woff') format('woff'), /* Modern Browsers */
         url('./assets/fonts/plus-jakarta-sans-v3-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./assets/fonts/plus-jakarta-sans-v3-latin-800.svg#PlusJakartaSans') format('svg'); /* Legacy iOS */
  }
  

header {
    display: flex;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    background-color: var(--light-grayish-blue-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100svh;

}

.red-circle {
    display: none;
}

.msg-img {
    display: contents;
}

.unread .red-circle {
    display: contents;
}

header h1 {
    flex-grow: 1;
}

header p {
    flex-grow: 0;
    align-self: center;
}

main {
    background-color: white;
    color: var(--dark-grayish-blue);
    width: 700px;
    padding: 15px;
    border-radius: 20px;
    height: 800px;

}



.notification {
    background-color: white;
    margin: 6px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
}

.notification .text {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.notification img {
    height: 50px;
}

.unread {
    background-color: var(--very-light-grayish-blue);
}

h1 {
    color: var(--very-dark-blue);
    font-size: 24px;
}

.username {
    font-weight: 800;
    color: var(--very-dark-blue);
    display: contents;
}

.time {
    display: block;
    color: var(--grayish-blue);
}

.message {
    border: 1px solid var(--light-grayish-blue-1);
    border-radius: 5px;
    padding: 20px;
}

.notifications {
    color: white;
    background-color: var(--very-dark-blue);
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 16px;
}