:root {
    --very-light-grayish-blue: hsl(210, 60%, 98%);
    --light-grayish-blue-1: hsl(211, 68%, 94%);
    --light-grayish-blue-2: hsl(205, 33%, 90%);
    --grayish-blue: hsl(219, 14%, 63%);
    --dark-grayish-blue: hsl(219, 12%, 42%);
    --very-dark-blue: hsl(224, 21%, 14%);
}

body {
    font-family: sans-serif;
    font-size: 16px;
    background-color: ;
}



.notification {
    background-color: white;
    margin: 6px;
}

.unread {
    background-color: hsl(211, 68%, 94%);
}

.username {
    font-weight: 800;
}

.time {
    display: block;
    color: hsl(219, 14%, 63%);
}